certifi==2022.12.7
charset-normalizer==2.0.10
configparser==5.2.0
easywebdav==1.2.0
genologics
greenlet==1.1.2
idna==3.3
importlib-metadata==4.8.3
Jinja2==3.0.3
MarkupSafe==2.0.1
mysql-connector==2.2.9
PyMySQL==1.0.2
python-dotenv==0.20.0
requests==2.27.1
SQLAlchemy==1.4.31
texttable==1.6.4
typing-extensions==4.0.1
urllib3==1.26.8
wheel==0.29.0
zipp==3.6.0