certifi==2021.5.30
charset-normalizer==2.0.4
easywebdav==1.2.0
genologics
greenlet==1.1.1
idna==3.2
importlib-metadata==4.6.4
MarkupSafe==2.0.1
Jinja2==3.0.1
PyMySQL==1.0.2
requests==2.26.0
SQLAlchemy==1.4.22
texttable==1.6.4
typing-extensions==3.10.0.0
urllib3==1.26.6
wheel==0.29.0
zipp==3.5.0