{% extends "useq_mail_template.html" %}
{% block content %}
{% set color_list1 = ['#ffff00','#0000ff'] %}
<table class='useq_table'>
  <tr> <td><b>project(s))</b></td>  <td>{{projects}}</td> </tr>
  <tr> <td><b>Run Name</b></td>  <td>{{run_dir}}</td> </tr>
</table>
<h3>Status</h3>
<table class='useq_table'>
  <tr> <td><b>Demultiplexing Check</b></td>  <td>{{status['Demux-check']}}</td> </tr>
  <tr> <td><b>Conversion</b></td>  <td>{{status['Conversion']}}</td> </tr>
  <tr> <td><b>Transfer to NextCloud</b></td>  <td>{{status['Transfer-nc']}}</td> </tr>
  <tr> <td><b>Transfer to HPC</b></td>  <td>{{status['Transfer-hpc']}}</td> </tr>
  <tr> <td><b>Transfer to Archive</b></td>  <td>{{status['Archive']}}</td> </tr>
</table>
<br>
{% if summary_stats %}
<h3>Run Summary</h3>
<table class='useq_table'>
  <tr>
    <th><b>Level</b></th>
    <th><b>Yield (Gbp)</b></th>
    <th><b>Expected Yield (Gbp)</b></th>
    <th><b>% Aligned PhiX</b></th>
    <th><b>Error Rate</b></th>
    <th><b>Intensity C1</b></th>
    <th><b>%>=Q30</b></th>
    <th><b>% Occupied</b></th>
  </tr>
  {% for row in summary_stats %}
  <tr>
    {% if 'Level' in row -%} <td>{{ row['Level'] }}</td> {% endif %}
    {% if 'Yield' in row -%} <td>{{ row['Yield'] }}</td> {% endif %}

    {% if 'Level' in row and row['Level'] == 'Read 1' %}
      <td>{{ "{:,.0f}".format(expected_yields['r1']) }}</td>
    {% elsif 'Level' in row and ( row['Level'] == 'Read 3' or row['Level'] == 'Read 4') %}
      <td>{{ "{:,.0f}".format(expected_yields['r2']) }}</td>
    {% else %}
      <td>-</td>
    {% endif %}
    <!-- {% if 'Projected Yield' in row -%} <td>{{ row['Projected Yield'] }}</td> {% endif %} -->

    {% if 'Aligned' in row -%} <td>{{ row['Aligned'] }}</td> {% endif %}
    {% if 'Error Rate' in row -%} <td>{{ row['Error Rate'] }}</td> {% endif %}
    {% if 'Intensity C1' in row -%} <td>{{ row['Intensity C1'] }}</td> {% endif %}
    {% if '%>=Q30' in row -%} <td>{{ row['%>=Q30'] }}</td> {% endif %}
    {% if '% Occupied' in row -%} <td>{{ row['% Occupied'] }}</td> {% endif %}
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if 'total_reads' in conversion_stats %}
<h3>Conversion Summary</h3>
<table class='useq_table'>
<tr> <td><b>Output (filtered) / Output (expected)</b></td> <td>{{nr_reads}}</td> </tr>
</table>
<h3>Samples</h3>
<table class='useq_table'>
  <tr>
    <th style="visibility: hidden;border: 0px" colspan="4"></th>
    <!-- <th colspan="2"><b>% Index</b></th> -->
    <th colspan="2"><b>Mean Quality Score (PF)</b></th>
    <th colspan="2"><b>% Q30</b></th>
  </tr>
  <tr>
    <th><b>SampleID</b></th>
    <th><b>Index</b></th>
    <th><b>M Reads</b></th>
    <th style="width:150px"><b>% Perfect Index</b></th>
    <!-- <th><b>1 Mismatch</b></th> -->

    {% for read_nr in ['1','2'] -%}
      {% if 'Read '+read_nr+' Mean Quality Score (PF)' in conversion_stats.samples[0] %}
        <th><b>Read {{read_nr}} </b></th>
      {% endif %}
    {% endfor %}
    {% for read_nr in ['1','2'] -%}
      {% if 'Read '+read_nr+' % Q30' in conversion_stats.samples[0] %}
        <th><b>Read {{read_nr}}</b></th>
      {% endif %}
    {% endfor %}
  </tr>


  {% for sample in conversion_stats.samples %}
  {% set perc_pindex = (sample['# Perfect Index Reads'] / sample['# Reads']) * 100 %}
  {% set perc_of_total = (sample['# Reads'] / conversion_stats.total_reads) * 100 %}
  {% if perc_pindex <= 80 %}
    {% set perc_pindex_color = color_list1[0] %}
  {% else %}
    {% set perc_pindex_color = color_list1[1] %}
  {% endif %}

  {% set perc_of_total_color = color_list1[1] %}
  <tr>
    <td>{{ sample['SampleID'] }}</td>
    <td>{{ sample['Index'] }}</td>
    <td >
      <div class="" style="width:{{perc_of_total}}px; background-color:{{perc_of_total_color}}; position:relative;float:left;">&nbsp</div>
      <div style="position:relative; float:right;">{{ "{:,.2f}".format(sample['# Reads']/1000000) }}</div>

    </td>
    <td >

      <div class="" style="width:{{perc_pindex}}px; background-color:{{perc_pindex_color}}; position:relative;float:left;">&nbsp</div>
      <div style="position:relative; float:right;">{{ "{:,.2f}".format(perc_pindex) }}</div>

    </td>

    {% for read_nr in ['1','2'] -%}
      {% if 'Read '+read_nr+' Mean Quality Score (PF)' in sample -%}
        {% if sample['Read '+read_nr+' Mean Quality Score (PF)'] <30 %}
          {% set mqs_color = color_list1[0] %}
        {% else %}
          {% set mqs_color = color_list1[1] %}
        {% endif %}
        <td style="">
          <span style="position:relative; float:left;background-color:{{mqs_color}};"class="dot"></span>
          <div style="position:relative; float:right;">{{ "{:,.2f}".format(sample['Read '+read_nr+' Mean Quality Score (PF)']) }}</div>
        </td>
      {% endif %}
    {% endfor %}
    {% for read_nr in ['1','2'] -%}
      {% if 'Read '+read_nr+' % Q30' in sample -%}
        {% if sample['Read '+read_nr+' % Q30'] <80 %}
          {% set q30_color = color_list1[0] %}
        {% else %}
          {% set q30_color = color_list1[1] %}
        {% endif %}

        <td>
          <span style="position:relative; float:left;background-color:{{q30_color}};"class="dot"></span>
          <div style="position:relative; float:right;"> {{ "{:,.2f}".format(sample['Read '+read_nr+' % Q30']) }}</div>
        </td>
      {% endif %}
    {% endfor %}

  </tr>

  {% endfor %}
</table>
<br>
<h3>Top Unknown Barcodes</h3>
<table class='useq_table'>
  <tr>
    <th><b>Lane</b></th>
    <th><b>index</b></th>
    {% if 'index2' in conversion_stats['top_unknown'][0] %}<th><b>index2</b></th>{% endif %}
    <th><b># Reads</b></th>
  </tr>
  {% for unk in conversion_stats['top_unknown'] %}
  <tr>
    <td>{{ unk['Lane'] }}</td>
    <td>{{ unk['index'] }}</td>
    {% if 'index2' in unk %}<td>{{ unk['index2'] }}</td>{% endif %}
    <td>{{ unk['# Reads'] }}</td>
  </tr>
  {% endfor %}
</table>
<br>
{% endif %}
<h3>Plots</h3>
<table>
  <tr>
    <td><img src='cid:flowcell_intensity_plot'></td>
    <td><img src='cid:clusterdensity_by_lane_plot'></td>
  </tr>
  <tr>
    <td><img src='cid:q_histogram_plot'></td>
    <td><img src='cid:q_heatmap_plot'></td>
  </tr>
  <tr>
    <td><img src='cid:basepercent_by_cycle_plot'></td>
    <td><img src='cid:intensity_by_cycle_plot'></td>
  </tr>
</table>
<h3>Logs</h3>
{{log | replace("\n", "<br>")}}
<br>
{% endblock %}
