{% extends "useq_mail_template.html" %}
{% block content %}
<p>Sequencing-run ID {{ project_id }} has succesfully been sequenced. You can find a short run report below.</p>
<p>You can download your data using <a href="https://{{ nextcloud_host }}/index.php/s/{{ share_id }}">this</a> link.</p>
<p>This link will remain active for 14 days. If you're unable to download your data within this period, please let us know.
Please also be aware that we're able to store your sequencing data for a maximum of two months, after which it is automatically deleted from our servers.</p>

<h3>Summary</h3>
<table class='useq_table'>
  <tr>
    <th>Expected Raw Reads</th>
    <th>Raw Reads</th>
    <th>Filtered Reads</th></tr>
  <tr><td>{{ "{0:,}".format( expected_reads ) }}</td><td>{{ "{0:,}".format(raw_reads) }}</td><td>{{ "{0:,}".format(filtered_reads) }}</td></tr>
</table>
<br>
<h3>Details</h3>

<table class='useq_table'>
  <tr >
    <th><b>Sample</b></th>
    <th><b>Barcode Sequence</b></th>
    <th><b>Reads</b></th>
    <th><b>% >= Q30</b></th>
    <th><b>Mean Quality Score</b></th>
  </tr>
  {% for sample in conversion_stats['samples']|sort %}
  <tr>
    <td>{{ sample }}</td>
    <td>{{ conversion_stats['samples'][sample]['barcode'] }}</td>
    <td>{{ conversion_stats['samples'][sample]['cluster_count'] }}</td>
    <td>{{ conversion_stats['samples'][sample]['percent_Q30'] }}</td>
    <td>{{ conversion_stats['samples'][sample]['mean_quality'] }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
