{% extends "useq_mail_template.html" %}
{% block content %}
{% set color_list1 = ['#ffff00','#0000ff'] %}

<p>
  Sequencing-run ID {{ project_id }} has succesfully been sequenced, you can download your raw data using <a href="https://{{ nextcloud_host }}/index.php/s/{{ share_id }}">this</a> link.
  The password to open the link will be send by sms to: {{ phone }}.
</p>

<h4>Data Availability</h4>
<p>
  The link will remain active for <u>14 days</u>. If you're unable to download your data within this period, please let us know.
  Please also be aware that we're able to store your sequencing data for a <u>maximum of two months</u>, after which it is automatically deleted from our servers.
</p>

<h4>Download tips</h4>
<p>Instead of using the browser you also use the commandline arguments below (on Linux / MacOS) to download the individual files in the shared directory.</p>

<pre style="background-color: lightgrey; padding: 1em;white-space: pre-wrap; font-family: monospace;color: #fff;border-radius: .5em;line-height: 1.3;tab-size: 2;">
  <code style="font-family: 'Source Code Pro', courier,monospace;">
  curl -u '{{ share_id }}:PASSWORD' -H 'X-Requested-With: XMLHttpRequest' \
  'https://{{ nextcloud_host }}/public.php/webdav/FILENAME.tar' -o FILENAME.tar
  </code>
</pre>

<p>Or to download all files sequentially, download the available_files.txt file attached to this email and execute the following command:</p>
<pre style="background-color: lightgrey; padding: .5em;white-space: pre-wrap; font-family: monospace;color: #fff;border-radius: .5em;line-height: 1.3;tab-size: 2;">
  <code style="font-family: 'Source Code Pro', courier,monospace;">
  while read file; do
    curl -u '{{ share_id }}:PASSWORD' -H 'X-Requested-With: XMLHttpRequest' \
    'https://ncie01.op.umcutrecht.nl/public.php/webdav/'$file -o $file;
  done < /path/to/available_files.txt
  </code>
</pre>

{% if analysis_steps|length > 1 %}
<h4>About analysis</h4>
<p>Your data will now be queued for the following processing steps:</p>
<ul>
{% for step in analysis_steps %}
  <li>{{step}}</li>
{% endfor %}
</ul>
<p>As as soon as this is done you will receive another downloadlink containing the processed data.</p>
{% endif %}

<h4>Stats & Measurements</h4>
<p>The bottom of this email contains sample / pool measurements (if available) and sequencing stats (if demultiplexing was done).</p>

<h4>Note</h4>
<p>To be able to provide you with the same service the coming years it is of great importance to us that, when you use data obtained with our equipment in a publication, you mention this in an acknowledgement.</p>
<p>It would be very much appreciated when you send us a PDF of such a publication.
We use these publications to document the UMCU board and external grant suppliers (like NWO) that their money is well spent.</p>
<p>Please use this in your acknowledment: 'We acknowledge the Utrecht Sequencing Facility (USEQ) for providing sequencing service and data.
USEQ is subsidized by the University Medical Center Utrecht and The Netherlands X-omics Initiative (NWO project 184.034.019).'</p>


{% if sample_measurements %}
<h3>Sample/Pool Measurements</h3>
<table class='useq_table'>
  {% if not sample_measurements.pool %}
    <tr>
      <th><b>Sample</b></th>
      <th><b>Isolated conc. (ng/ul)</b></th>
      <th><b>Pre library prep conc. (ng/ul)</b></th>
      <th><b>RIN</b></th>
      <th><b>Post library prep conc. (ng/ul)</b></th>
    </tr>
      {% for sample in sample_measurements.samples %}
        <tr>
          <td>{{sample}}</td>
          {% if sample_measurements.samples[sample]['Isolated conc. (ng/ul)'] %}
          <td>{{sample_measurements.samples[sample]['Isolated conc. (ng/ul)']}}</td>
          {% else %}
          <td>NA</td>
          {% endif %}
          {% if sample_measurements.samples[sample]['Pre library prep conc. (ng/ul)'] %}
          <td>{{sample_measurements.samples[sample]['Pre library prep conc. (ng/ul)']}}</td>
          {% else %}
          <td>NA</td>
          {% endif %}
          {% if sample_measurements.samples[sample]['RIN'] %}
          <td>{{sample_measurements.samples[sample]['RIN']}}</td>
          {% else %}
          <td>NA</td>
          {% endif %}
          {% if sample_measurements.samples[sample]['Post library prep conc. (ng/ul)'] %}
          <td>{{sample_measurements.samples[sample]['Post library prep conc. (ng/ul)']}}</td>
          {% else %}
          <td>NA</td>
          {% endif %}

        </tr>
      {% endfor %}
  {% else %}
    <tr>
      <th><b>Library conc. (ng/ul)</b></th>
      <th><b>Average length (bp)</b></th>
    </tr>
    <tr>
      <td>{{sample_measurements.pool['Library conc. (ng/ul)']}}</td>
      <td>{{sample_measurements.pool['Average length (bp)']}}</td>
    </tr>
  {% endif %}
</table>
{% endif %}
{% if conversion_stats %}
<h3>Sequencing Stats</h3>

<table class='useq_table'>
  <tr>
    <th style="visibility: hidden;border: 0px" colspan="4"></th>
    <!-- <th colspan="2"><b>% Index</b></th> -->
    {% if 'Read 2 Mean Quality Score (PF)' in conversion_stats.samples[0] %}
      <th colspan="2"><b>Mean Quality Score (PF)</b></th>
      <th colspan="2"><b>% Q30</b></th>
    {% else %}
      <th colspan="1"><b>Mean Quality Score (PF)</b></th>
      <th colspan="1"><b>% Q30</b></th>
    {% endif %}

  </tr>
  <tr>
    <th><b>SampleID</b></th>
    <th><b>Index</b></th>
    <th><b>M Reads</b></th>
    <th style="width:150px"><b>% Perfect Index</b></th>
    <!-- <th><b>1 Mismatch</b></th> -->

    {% for read_nr in ['1','2'] -%}
      {% if 'Read '+read_nr+' Mean Quality Score (PF)' in conversion_stats.samples[0] %}
        <th><b>Read {{read_nr}} </b></th>
      {% endif %}
    {% endfor %}
    {% for read_nr in ['1','2'] -%}
      {% if 'Read '+read_nr+' % Q30' in conversion_stats.samples[0] %}
        <th><b>Read {{read_nr}}</b></th>
      {% endif %}
    {% endfor %}
  </tr>



  {% for sample in conversion_stats.samples %}
  {% set perc_pindex = (sample['# Perfect Index Reads'] / sample['# Reads']) * 100 if sample['# Reads'] else 0 %}
  {% set perc_of_total = (sample['# Reads'] / conversion_stats.total_reads) * 100 if conversion_stats.total_reads else 0 %}
  {% if perc_pindex <= 80 %}
    {% set perc_pindex_color = color_list1[0] %}
  {% else %}
    {% set perc_pindex_color = color_list1[1] %}
  {% endif %}

  {% set perc_of_total_color = color_list1[1] %}
  <tr>
    <td>{{ sample['SampleID'] }}</td>
    <td>{{ sample['Index'] }}</td>
    <td >
      <div class="" style="width:{{perc_of_total}}px; background-color:{{perc_of_total_color}}; position:relative;float:left;">&nbsp</div>
      <div style="position:relative; float:right;">{{ "{:,.2f}".format(sample['# Reads']/1000000) }}</div>

    </td>
    <td >

      <div class="" style="width:{{perc_pindex}}px; background-color:{{perc_pindex_color}}; position:relative;float:left;">&nbsp</div>
      <div style="position:relative; float:right;">{{ "{:,.2f}".format(perc_pindex) }}</div>

    </td>

    {% for read_nr in ['1','2'] -%}
      {% if 'Read '+read_nr+' Mean Quality Score (PF)' in sample -%}
        {% if sample['Read '+read_nr+' Mean Quality Score (PF)'] <30 %}
          {% set mqs_color = color_list1[0] %}
        {% else %}
          {% set mqs_color = color_list1[1] %}
        {% endif %}
        <td style="">
          <span style="position:relative; float:left;background-color:{{mqs_color}};"class="dot"></span>
          <div style="position:relative; float:right;">{{ "{:,.2f}".format(sample['Read '+read_nr+' Mean Quality Score (PF)']) }}</div>
        </td>
      {% endif %}
    {% endfor %}
    {% for read_nr in ['1','2'] -%}
      {% if 'Read '+read_nr+' % Q30' in sample -%}
        {% if sample['Read '+read_nr+' % Q30'] <80 %}
          {% set q30_color = color_list1[0] %}
        {% else %}
          {% set q30_color = color_list1[1] %}
        {% endif %}

        <td>
          <span style="position:relative; float:left;background-color:{{q30_color}};"class="dot"></span>
          <div style="position:relative; float:right;"> {{ "{:,.2f}".format(sample['Read '+read_nr+' % Q30']) }}</div>
        </td>
      {% endif %}
    {% endfor %}

  </tr>

  {% endfor %}

</table>
{% endif %}

{% endblock %}
