{% extends "useq_mail_template.html" %}
{% block content %}
<p>
  Sequencing-run ID {{ project_id }} has succesfully been sequenced, you can download your raw data using <a href="https://{{ nextcloud_host }}/index.php/s/{{ share_id }}">this</a> link.
  The password to open the link will be send by sms to: {{ phone }}.
</p>

<h4>Data Availability</h4>
<p>
  The link will remain active for <u>14 days</u>. If you're unable to download your data within this period, please let us know.
  Please also be aware that we're able to store your sequencing data for a <u>maximum of two months</u>, after which it is automatically deleted from our servers.
</p>

<h4>Download tips</h4>
<p>Instead of using the browser you also use the commandline arguments below (on Linux / MacOS) to download the individual files in the shared directory.</p>

<pre style="background-color: lightgrey; padding: 1em;white-space: pre-wrap; font-family: monospace;color: #fff;border-radius: .5em;line-height: 1.3;tab-size: 2;">
  <code style="font-family: 'Source Code Pro', courier,monospace;">
  curl -u '{{ share_id }}:PASSWORD' -H 'X-Requested-With: XMLHttpRequest' \
  'https://{{ nextcloud_host }}/public.php/webdav/FILENAME.tar' -o FILENAME.tar
  </code>
</pre>

<p>Or to download all files sequentially, download the available_files.txt file attached to this email and execute the following command:</p>
<pre style="background-color: lightgrey; padding: .5em;white-space: pre-wrap; font-family: monospace;color: #fff;border-radius: .5em;line-height: 1.3;tab-size: 2;">
  <code style="font-family: 'Source Code Pro', courier,monospace;">
  while read file; do
    curl -u '{{ share_id }}:PASSWORD' -H 'X-Requested-With: XMLHttpRequest' \
    'https://ncie01.op.umcutrecht.nl/public.php/webdav/'$file -o $file;
  done < /path/to/available_files.txt
  </code>
</pre>

<h4>Stats & Measurements</h4>
<p>The bottom of this email contains sample / pool measurements (if available) and sequencing stats (if demultiplexing was done).</p>

<h4>Note</h4>
<p>To be able to provide you with the same service the coming years it is of great importance to us that, when you use data obtained with our equipment in a publication, you mention this in an acknowledgement.</p>
<p>It would be very much appreciated when you send us a PDF of such a publication.
We use these publications to document the UMCU board and external grant suppliers (like NWO) that their money is well spent.</p>
<p>Please use this in your acknowledment: 'We acknowledge the Utrecht Sequencing Facility (USEQ) for providing sequencing service and data.
USEQ is subsidized by the University Medical Center Utrecht and The Netherlands X-omics Initiative (NWO project 184.034.019).'</p>



{% if sample_measurements %}
<h3>Sample/Pool Measurements</h3>
<table class='useq_table'>
  {% if not sample_measurements.pool %}
    <tr>
      <th><b>Sample</b></th>
      <th><b>Isolated conc. (ng/ul)</b></th>
      <th><b>Pre library prep conc. (ng/ul)</b></th>
      <th><b>RIN</b></th>
      <th><b>Post library prep conc. (ng/ul)</b></th>
    </tr>
      {% for sample in sample_measurements.samples %}
        <tr>
          <td>{{sample}}</td>
          {% if sample_measurements.samples[sample]['Isolated conc. (ng/ul)'] %}
          <td>{{sample_measurements.samples[sample]['Isolated conc. (ng/ul)']}}</td>
          {% else %}
          <td>NA</td>
          {% endif %}
          {% if sample_measurements.samples[sample]['Pre library prep conc. (ng/ul)'] %}
          <td>{{sample_measurements.samples[sample]['Pre library prep conc. (ng/ul)']}}</td>
          {% else %}
          <td>NA</td>
          {% endif %}
          {% if sample_measurements.samples[sample]['RIN'] %}
          <td>{{sample_measurements.samples[sample]['RIN']}}</td>
          {% else %}
          <td>NA</td>
          {% endif %}
          {% if sample_measurements.samples[sample]['Post library prep conc. (ng/ul)'] %}
          <td>{{sample_measurements.samples[sample]['Post library prep conc. (ng/ul)']}}</td>
          {% else %}
          <td>NA</td>
          {% endif %}

        </tr>
      {% endfor %}
  {% else %}
    <tr>
      <th><b>Library conc. (ng/ul)</b></th>
      <th><b>Average length (bp)</b></th>
    </tr>
    <tr>
      <td>{{sample_measurements.pool['Library conc. (ng/ul)']}}</td>
      <td>NA</td>
    </tr>
  {% endif %}
</table>
{% endif %}


{% endblock %}
